body{
    background-color: darkslategrey;
}
.menuSuperior{
    list-style: none;
    text-align: right;
    background-color: rgb(0, 0, 0);
    background-image: url(./Imagenes/logo.png);
    background-size: 140px;
    background-repeat: no-repeat;
    background-position: left padding top 1px;
    color: aliceblue;
    font-size: larger;
    font-weight: 700;

}

.menuSuperior li{
    display: inline-block;
    padding: 3rem;
    text-decoration: none;
    
}
.menuSuperior a{
    text-decoration: none;
    color: aliceblue;
}

.box-model , .box-model2{
    background-color: darkslategray;
    color: rgb(233, 165, 165);
    font-size: large;
    width: 25rem;
    height: auto;
    padding: 1rem;
    margin: 2rem;
    overflow: auto;
    border: solid 0.5rem rgb(233, 165, 165);
    display: inline-block;
}

.box_title{
    background-color: rgb(233, 165, 165);
    border: solid 1px rgb(233, 165, 165);
    width: fit-content;
    height: fit-content;
    color: darkslategray;
}
