.bg-body-custom{
    background-color: #272573;
    color: antiquewhite;
}

.bg-nav-custom{
    background-color: #171a4a;
    color: #9f90ea;
}

.nav__bar{
    margin: 1rem;
}

.busqueda{
    width: 40%;
}

/* formularios mi-cuenta*/

.mi-cuenta{
    display: grid;
    grid-template-columns: 50% 50%;
}

.form_acc{
    width: 40%;
    margin: 1rem;
    display: inline-block;
}

.fieldset-cuenta{
    border: solid 1px antiquewhite;
}

.legend-cuenta{
    font-weight: 500;
    color: antiquewhite;
}

.forgot-pass{
    color: orangered;
}